<footer class="site-footer">
  <div class="site-footer__wrap">
    <div>
      {% include components/logo-se.html placement="footer" small='true' %}
      {% include components/logo-partner.html placement="footer" small='true' %}
    </div>
    <div class="space--sm text--sm">
      <p>© Copyright <span class="js-year">2018</span> Secret Escapes</p>
    </div>
  </div>
</footer>



<!-- Impression tracker -->
<div class="tracking-pixels">
  <A HREF="https://ad.doubleclick.net/ddm/jump/N8069.1692340SECRETESCAPES.COM/B23545643.261709344;sz=1x1;ord=[timestamp]?">
  <IMG SRC="https://ad.doubleclick.net/ddm/ad/N8069.1692340SECRETESCAPES.COM/B23545643.261709344;sz=1x1;ord=[timestamp];dc_lat=;dc_rdid=;tag_for_child_directed_treatment=;tfua=?" BORDER=0 WIDTH=1 HEIGHT=1 ALT="Advertisement">
  </A>
  <SCRIPT TYPE="application/javascript" SRC="https://pixel.adsafeprotected.com/rjss/st/372957/41133875/skeleton.js"></SCRIPT>
  <NOSCRIPT><IMG SRC="https://pixel.adsafeprotected.com/rfw/st/372957/41133874/skeleton.gif" BORDER=0 WIDTH=1 HEIGHT=1 ALT=""></NOSCRIPT>
</div>