<footer>
  <div class="footer">

    <div class="footer__logos">
      <a class="logo logo--se logo--se-sm" href="https://www.secretescapes.com/"><img class="js-svg-swap" src="{{ site.baseurl }}/img/logo/secret-escapes.png" alt="Secret Escapes logo"></a>
      {% include components/partner-logo.html small='true' class='footer' %}
    </div>

    <div class="footer__info text--center text--white">
      <hr class="hr--center">
      <p class="text--sm line-length"><span class="text--bolder">Terms and conditions apply.</span> Flights are via Dubai or Singapore, subject to government and regulatory approval. Offers end 23.59PM (GMT) 31 January 2018 unless sold out before. Selected travel dates, days and conditions apply. See qantas.com for details.</p>
      <hr class="hr--center">
      <p>© Copyright <span class="js-year">2017</span> Secret Escapes</p>
    </div>

  </div>
</footer>