---
layout: standard
id: overview
title: Overview
nav-order: 1



banner:
  title-super: Discover
  title: New South Wales



intro: >
  <p class="text--xl">Curabitur blandit tempus porttitor. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Curabitur blandit tempus porttitor. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Aenean lacinia bibendum nulla sed consectetur. Cras mattis consectetur purus sit amet fermentum.</p>



sections:

  - title: Iconic cities
    id: iconic-cities
    description: >
      <p class="text--xl text--bold">Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Curabitur blandit tempus porttitor. Donec ullamcorper nulla non metus auctor fringilla.</p>
      <p class="text--lg"> Curabitur blandit tempus porttitor. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Curabitur blandit tempus porttitor. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Aenean lacinia bibendum nulla sed consectetur. Cras mattis consectetur purus sit amet fermentum.</p>
    pois:

      - title: Sydney
        id: sydney
        content: Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Aenean lacinia bibendum nulla sed consectetur. Cras mattis consectetur purus sit amet fermentum.

      - title: Melbourne
        id: melbourne
        content: Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Aenean lacinia bibendum nulla sed consectetur. Cras mattis consectetur purus sit amet fermentum.

      - title: Brisbane
        id: brisbane
        content: Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Aenean lacinia bibendum nulla sed consectetur. Cras mattis consectetur purus sit amet fermentum.

      - title: Perth
        id: perth
        content: Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Aenean lacinia bibendum nulla sed consectetur. Cras mattis consectetur purus sit amet fermentum.



  - title: Food and Wine
    id: food-and-wine
    description: >
      <p class="text--xl text--bold">Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Curabitur blandit tempus porttitor. Donec ullamcorper nulla non metus auctor fringilla.</p>
      <p class="text--lg"> Curabitur blandit tempus porttitor. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Curabitur blandit tempus porttitor. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Aenean lacinia bibendum nulla sed consectetur. Cras mattis consectetur purus sit amet fermentum.</p>
    pois:

      - title: Hunter Valley
        id: hunter-valley
        content: Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Aenean lacinia bibendum nulla sed consectetur. Cras mattis consectetur purus sit amet fermentum.

      - title: Sydney
        id: sydney
        content: Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Aenean lacinia bibendum nulla sed consectetur. Cras mattis consectetur purus sit amet fermentum.

      - title: Byron Bay
        id: byron-bay
        content: Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Aenean lacinia bibendum nulla sed consectetur. Cras mattis consectetur purus sit amet fermentum.

      - title: Mudgee
        id: mudgee
        content: Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Aenean lacinia bibendum nulla sed consectetur. Cras mattis consectetur purus sit amet fermentum.



  - title: Coastal and Aquatic
    id: coastal-and-aquatic
    description: >
      <p class="text--xl text--bold">Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Curabitur blandit tempus porttitor. Donec ullamcorper nulla non metus auctor fringilla.</p>
      <p class="text--lg"> Curabitur blandit tempus porttitor. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Curabitur blandit tempus porttitor. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Aenean lacinia bibendum nulla sed consectetur. Cras mattis consectetur purus sit amet fermentum.</p>
    pois:

      - title: Sydney
        id: sydney
        content: Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Aenean lacinia bibendum nulla sed consectetur. Cras mattis consectetur purus sit amet fermentum.

      - title: Jervis Bay
        id: jervis-bay
        content: Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Aenean lacinia bibendum nulla sed consectetur. Cras mattis consectetur purus sit amet fermentum.

      - title: Coffs Harbour
        id: coffs-harbour
        content: Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Aenean lacinia bibendum nulla sed consectetur. Cras mattis consectetur purus sit amet fermentum.

      - title: Legendary Pacific Coast
        id: legendary-pacific-coast
        content: Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Aenean lacinia bibendum nulla sed consectetur. Cras mattis consectetur purus sit amet fermentum.



  - title: Nature and Wildlife
    id: nature-and-wildlife
    description: >
      <p class="text--xl text--bold">Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Curabitur blandit tempus porttitor. Donec ullamcorper nulla non metus auctor fringilla.</p>
      <p class="text--lg"> Curabitur blandit tempus porttitor. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Curabitur blandit tempus porttitor. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Aenean lacinia bibendum nulla sed consectetur. Cras mattis consectetur purus sit amet fermentum.</p>
    pois:

      - title: Lord Howe Island
        id: lord-howe-island
        content: Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Aenean lacinia bibendum nulla sed consectetur. Cras mattis consectetur purus sit amet fermentum.

      - title: Blue Mountains
        id: blue-mountains
        content: Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Aenean lacinia bibendum nulla sed consectetur. Cras mattis consectetur purus sit amet fermentum.

      - title: Port Stephens
        id: port-stephens
        content: Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Aenean lacinia bibendum nulla sed consectetur. Cras mattis consectetur purus sit amet fermentum.

      - title: Nature Highlight 01
        id: nature-highlight-01
        content: Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Aenean lacinia bibendum nulla sed consectetur. Cras mattis consectetur purus sit amet fermentum.



  - title: Heritage and Culture
    id: heritage-and-culture
    description: >
      <p class="text--xl text--bold">Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Curabitur blandit tempus porttitor. Donec ullamcorper nulla non metus auctor fringilla.</p>
      <p class="text--lg"> Curabitur blandit tempus porttitor. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Curabitur blandit tempus porttitor. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Aenean lacinia bibendum nulla sed consectetur. Cras mattis consectetur purus sit amet fermentum.</p>
    pois:

      - title: Sydney
        id: sydney
        content: Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Aenean lacinia bibendum nulla sed consectetur. Cras mattis consectetur purus sit amet fermentum.

      - title: Blue Mountains
        id: blue-mountains
        content: Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Aenean lacinia bibendum nulla sed consectetur. Cras mattis consectetur purus sit amet fermentum.

      - title: NSW Outback
        id: nsw-outback
        content: Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Aenean lacinia bibendum nulla sed consectetur. Cras mattis consectetur purus sit amet fermentum.

      - title: Culture Highlight 01
        id: culture-highlight-01
        content: Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Aenean lacinia bibendum nulla sed consectetur. Cras mattis consectetur purus sit amet fermentum.



flights:
  title: Experience Australia with Qantas
  subtitle: Departing various UK airports
  description: >
    <p class="text--lg">Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Curabitur blandit tempus porttitor. Donec ullamcorper nulla non metus auctor fringilla. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Curabitur blandit tempus porttitor. Aenean eu leo quam.</p>



---



<div class="intro{% if page.sections %} has-nav{% endif %}">

  <div class="intro__content section row row--padding text--center">
    <p class="text--xl">{{page.intro}}</p>
  </div>

  {% if page.sections %}
  <div class="intro__nav">
    {% include nav/page-nav.html %}
  </div>
  {% endif %}

</div>



{% assign sections = page.sections %}
{% for section in sections %}
<div class="section vpad--xxxl bg--fixed" style="background-image: url('{{site.baseurl}}/img/content/{{section.id}}/bg.jpg');">
  <div class="wp" id="section-{{section.id}}"></div>

  <div class="row row--padding row--6-6-gutters row--valign">

    <div class="col">
      <div class="line-length--lg">
        <h2 class="title title--display title--bolder title--xl">{{section.title}}</h2>
        <hr class="hr--left">
        {{section.description}}
      </div>
    </div>

    <div class="col">
      <div class="bg-img bg-img--3-2" style="background-image: url('{{site.baseurl}}/img/content/{{section.id}}/01.jpg');"></div>
      <div class="row row--6-6">
        <div class="col bg-img bg-img--16-9" style="background-image: url('{{site.baseurl}}/img/content/{{section.id}}/02.jpg');"></div>
        <div class="col bg-img bg-img--16-9" style="background-image: url('{{site.baseurl}}/img/content/{{section.id}}/03.jpg');"></div>
      </div>
    </div>

  </div>

  <!-- POIS -->
  <div class="row row--padding">
    <div class="row vpad-top--sm vpad-bottom--xs text--center bg--white bg--rounded">

      <h4 class="title title--sm title--display title--bolder title--lined">Highlights</h4>

      <div class="vpad-top--xs pois">
        {% for poi in section.pois %}
          {% include components/poi.html %}
        {% endfor %}
      </div>

    </div>
  </div>

  <!-- FLIGHTS CTA -->
  <div class="row row--padding vpad--xs text--center">
    <a href="#flights" class="btn btn--lg btn--solid">Book flights</a>
  </div>

</div>
{% endfor %}




{% assign flights = page.flights %}
<div class="section vpad--xxxl bg--theme-primary text--white">
  <div class="wp" id="flights"></div>


  <div class="row row--padding text--center">
    <h2 class="title title--display title--bolder title--lg">{{flights.title}}</h2>
    <h3 class="title title--xxxs title--bold title--upper title--kerning">{{flights.subtitle}}</h3>
    <hr class="hr--center">
    <div class="line-length--lg">
      {{flights.description}}
    </div>
  </div>

  <div class="row row--xl row--padding row--4-4-4-gutters text--center">

    <div class="col">
      <div class="bg--black-20 bg--rounded row--padding vpad--md">
        <p>Economy return from</p>
        <span class="title title--bold">£<span class="title--xs">732*</span></span>
      </div>
    </div>

    <div class="col">
      <div class="bg--black-20 bg--rounded row--padding vpad--md">
        <p>Premium Economy return from</p>
        <span class="title title--bold">£<span class="title--xs">2,151*</span></span>
      </div>
    </div>

    <div class="col">
      <div class="bg--black-20 bg--rounded row--padding vpad--md">
        <p>Business return from</p>
        <span class="title title--bold">£<span class="title--xs">3,827*</span></span>
      </div>
    </div>

  </div>

  <!-- FLIGHTS CTA -->
  <div class="row row--padding vpad--xs text--center">
    <a href="#" class="btn btn--lg btn--white-outline">View all flights</a>
  </div>


</div>

