---
layout: standard
id: overview
title: Overview
nav-order: 1



banner:
  content: >
    <h1 class="title title--xs title--super title--upper title--kerning">Discover Sydney and New&nbsp;South&nbsp;Wales</h1>
    <div class="banner__title title title--display line-length--lg">Let Qantas show you the best of Australia</div>
    <a href="#section-intro" class="btn btn--lg btn--qantas">Start exploring</a>



intro: >
  <p class="text--xl text--bold">From vast, blue-tinged peaks to the sleek modernity of Australia’s favourite urban metropolis, New South Wales distills all of Australia’s best qualities into one seriously tempting package. </p>
  <p class="text--lg">Discover a land of spectacular foodie delights, famed wine estates, endless beach idylls and fascinating cultures to explore. Whether it’s kicking back on the white-sand beaches of Jervis Bay or getting lost in the addictive energy of Sydney, New South Wales offers a treasure trove of unforgettable experiences.  </p>
  <p class="text--lg">Fly with Qantas, the Australia experts, for the perfect start to your New South Wales adventure. Hop aboard the Qantas A380 for award-winning service before you touch down in Sydney, the gateway to this extraordinary state.</p>



sections:

  - title: Urban Adventure
    id: urban-adventure
    description: >
      <p class="text--xl text--bold">This celebrated metropolis is Australia’s most impressive city.</p>
      <p class="text--lg">Irresistibly attractive, Sydney is a glamorous starlet nestled into a zig-zagging harbour that shelters renowned waterfront life. Hole yourself up in a host of cool cafes, bars, eateries and nightspots before seeking out the gloriously sunny beaches a stone’s throw from the centre of town. Browse hip boutiques, brunch yourself silly, and oggle the modernist marvel of Sydney’s iconic architectural masterpiece, the Sydney Opera House. Head for the Rocks for old-school cool before picking from one of the many city-wide events that make this city sing.</p>
    pois-title: Sydney Event Highlights
    pois:

      - title: Handa Opera on Sydney Harbour
        subtitle: 23 March – 22 April 2018
        id: handa-opera-on-sydney-harbour
        content: Head to Sydney harbour for glorious views across the bay, as the sun slowly sinks behind the city. Start your evening with a glass of fizz before heading to a pop-up waterside restaurant for starlight dining. Puccini’s beloved masterpiece La Bohème is the showpiece of the night, performed on a floating stage in the harbour – a glorious opera in a superlative setting.

      - title: Vivid Sydney
        subtitle: 25 May – 16 June 2018
        id: vivid-sydney
        content: This technicolour festival sets the city alight, making for a truly awe-inspiring sight. Immersive light displays cover the city in glorious artworks, with the streets coming alive to the sound of musicians from across the world. Vivid Ideas furthers the offerings, with public talks and innovative ideas from global thinkers and creators. With 2018 marking the event’s 10th year, plan your visit around this unmissable event.

      - title: Sydney Gay & Lesbian Mardi Gras
        subtitle: 3 March 2018
        id: sydney-gay-lesbian-mardi-gras
        content: This LGBTQI+ extravaganza is easily the most fabulous party Sydney offers. Culminating in the effortlessly-sequinned parade down Oxford Street, the day sees Sydney’s many parks and bars alight in technicolor glamour. It’s an addictive, revelrous celebration of the gay, lesbian and wider LGBTQI+ community that offers so much to this great city and the wider country. Marking its 40th year, it’s the biggest of its kind in the world – share in this joyful celebration.

      - title: Australia Day
        subtitle: 26 Jan 2018
        id: australia-day
        content: There’s no better place to celebrate Australia Day than in Sydney. This annual nationwide celebration marks the anniversary of the First Fleet landing in Australia from Great Britain, marking the beginning of colonial Australia. It now stands for a celebration of all the people of Australia, the myriad patchwork of cultures that each offer diversity to the Australian identity. It’s also one great party, with Sydney leading the festivities.



  - title: Foodie Delights
    id: foodie-delights
    description: >
      <p class="text--xl text--bold">New South Wales is a bonafide hotspot for the finest Aussie wines and foodie trails.  </p>
      <p class="text--lg">From the classic Hunter Valley vineyards to the local’s hotspot of Orange, choose your own foodie adventure through the glorious countryside of New South Wales. Contemporary dining and cosmopolitan cuisine in Sydney, with harbour and sea views to match, only hint at the wider state’s gastro-credentials.  From award-winning wines to fledgling indie restaurants with seriously creative offerings, this state is a foodie powerhouse.</p>
    pois-title: Best of Australia Food & Wine
    pois:

      - title: Hunter Valley
        id: hunter-valley
        content: This classic New South Wales wine region offers sprawling vineyards set in gorgeous countryside, each cultivating fine tipples steeped in heritage. The oldest wine-producing region in Australia, the Hunter Valley is best known for its award-winning sémillon and shiraz. Alight for cellar-door tastings, boutique beer trails, fine restaurants and exquisite artisan chocolate.

      - title: Byron Bay
        id: byron-bay-food
        content: This famous beach spot has come to typify the boho, laid-back style of Aussie’s beachside escapes. A long-time draw for beach bums the world over, Byron Bay has emerged as a temple of foodie hotspots to complement its stunning coastline. The villages that surround the immediate town offer some truly creative foodie experiences. Don’t miss them.

      - title: Mudgee
        id: mudgee
        content: Mudgee is the in-the-know food and wine region that more and more switched-on travellers are heading for. Its historic obscurity has helped the town to retain an authentic identity, making it a relaxed spot where locals produce fine fare for your delectation. Stop in chic restaurants with seriously good food, before exploring the rolling vineyards that surround the town.

      - title: Orange
        id: orange
        content: Orange has established itself as an enviable food and wine hotspot, where volcanic soils offer all manner of rich harvests. Acclaimed restaurants have been opening all across town, taking advantage of the flow of in-the-know foodies coming to sample the local wine. Alight at F.O.O.D Week or Winefest for a great introduction to all things Orange foodie.



  - title: The Water’s Edge
    id: the-waters-edge
    description: >
      <p class="text--xl text--bold">This state harbours some of the finest beaches in the country – find your perfect beach escape here.</p>
      <p class="text--lg">After flying in to Sydney, you have two options – head north, or head south. Head south and you’ll discover irresistible white-sand beaches lapped by waters that teem with aquatic life, lined by endless miles of National Parks. Head north along the Legendary Pacific Coast, for 600 miles of secret beaches, tropical rainforests, excellent wine regions and enviable bays.</p>
    pois-title: Coastal highlights
    pois:

      - title: Jervis Bay
        id: jervis-bay
        content: This resplendent bay shelters some of the most gorgeous beaches in Australia. Powder white sand, acclaimed as the whitest in the world, slinks into crystal-clear waters that creates an irresistible draw for visitors. The neighbouring marine parks teem with life, home to dolphins, fur seals, little penguins and migrating whales.

      - title: Port Macquarie
        id: port-macquarie
        content: Ancient forests cover the land before retreating from the pristine ocean at Port Macquarie. Nature trails through the area’s parks offer glorious immersion into the local flora and fauna, before cooling off on pristine beaches where watersports only further the offerings in this beautiful area. Food and wine is found in abundance, with gourmet feasting set to recharge you after a long day enjoying this beautiful spot.

      - title: Coffs Harbour
        id: coffs-harbour
        content: This stunning harbour shelters glorious beaches with waters that offer sanctuary to whales, turtles and dolphins. Go for a surf, kick-back on the sands, or explore the wider region where you’ll find a World Heritage rainforest perfect for dizzying canopy walks, canoe trails up Bellingen river and a host of music festivals set in stunning surroundings.

      - title: Byron Bay
        id: byron-bay
        content: Probably the most popular of New South Wales’ beach escapes, Byron Bay epitomises the hippy, bohemian atmosphere that Oz’s beach paradises do so well. Glorious beaches are littered with surfers, people practicing yoga and reiki, and beach bums who know how to soak up the sun. Head to town for great eateries and bars, before walking the coast to catch unforgettable sunsets.



  - title: For Nature Lovers
    id: for-nature-lovers
    description: >
      <p class="text--xl text--bold">New South Wales shelters irresistible natural wonders. </p>
      <p class="text--lg">From a martian-like desert outback to verdant rainforests, rising high to piercing mountains and down to the ocean, this state is a picture of natural diversity. Remarkable natural landscapes make this state the envy of the country. Explore lofty heights from incredible trails, swim with dolphins and spot koalas, and find untouched, unspoilt beauty at every corner.</p>
    pois-title: Nature highlights
    pois:

      - title: Lord Howe Island
        id: lord-howe-island
        content: This volcanic island is home to a startling array of wildlife, a veritable paradise for nature lovers just off the coast of the mainland. It’s World Heritage status has preserved this Pacific idyll, where hiking trails criss-cross the island and where fish eat out of your palm on Ned’s Beach. Spot the colourful array of bird life before snorkelling above the technicolour coral reefs.

      - title: Blue Mountains
        id: blue-mountains
        content: These towering, verdant peaks are a true natural wonder, where a vast canopy of eucalypts emit an oily haze to which the mountains owe their name. Bushwalk through the tropical World Heritage marvel, passing vast sandstone crags and abundant wildlife. Take to the skies with the glass-floored cable car that crosses the vast gorge before immersing yourself in this natural wonderland.

      - title: Port Stephens
        id: port-stephens
        content: Horse ride down white-sand beaches, swim with dolphins, or seek out tree-hugging koalas. Port Stephens is a stunning spot that teems with a variety of unmissable wildlife. Just off the coast unique opportunities are available to dive with the playful dolphins. Don’t miss the Worimi Conservation Lands, where sand dunes dip and rise for miles around before falling into the sea.

      - title: Mungo National Park
        id: mungo-national-park
        content: Part of the New South Wales outback, Mungo National Park is at odds with the verdant, tropical landscapes closer to the coast. Here, vast clay crags pierce desert scapes, offering a remarkable juxtaposition to the beachside forests. Head for the Walls of China boardwalk and let the martian monoliths tower over you.



  - title: Cultural Pursuits
    id: cultural-pursuits
    description: >
      <p class="text--xl text--bold">Discover a diverse cultural tapestry all in one state. </p>
      <p class="text--lg">New South Wales is a cultural powerhouse. From ancient Aboriginal history to contemporary art hanging in the hip galleries of Sydney, discover a startling array of cultural pursuits that span the millenia. Travel across the state and discover the unique communities producing remarkable artworks, guiding you through spiritual landscapes, and opening traveller’s eyes to the creative buzz of New South Wales.</p>
    pois-title: Cultural highlights
    pois:

      - title: Aboriginal Art Galleries
        id: aboriginal-art-galleries
        content: Dotted across the New South Wales landscape are a host of galleries that shelter fine Aboriginal art. The joyous riot of colour that these paintings employ to describe abstractions of the natural world are a magnificent glimpse at Aboriginal culture. Find these artworks at the Wollongong Art Gallery, Lake Macquarie City Art Gallery and Moree Plains Gallery and discover fine curations.

      - title: Blue Mountains Cultural Trail
        id: blue-mountains-cultural-trail
        content: Already a proven starlet for outdoor lovers, the Blue Mountains also hide a remarkable cultural significance. Let an Aboriginal guide take you through this striking landscape, highlighting the spiritual connection between the community and the enchanting mountains. Finish your tour with a visit to the Blue Mountains Cultural Centre, showcasing the culture of the region with a curation of local artwork.

      - title: Sydney Art Trail
        id: sydney-art-trail
        content: Sydney is a bustling hub for Australia’s creatives, where sculptures line the sidewalks and indie galleries offer a network of cutting-edge art to explore. The stalwart hubs, that is the Art Gallery of New South Wales and the Museum of Contemporary Art, are a great springboard into the myriad of galleries to be found in the city. Try Artspace, Casula Gallery, White Rabbit and plenty more.

      - title: NSW Outback Aboriginal Heritage
        id: nsw-outback
        content: Head to the wild outback of New South Wales, an arid, dramatic landscape where deserts lap vast clay monoliths. Discover enchanting rock art, preserved for millennia, before joining a tour through beguiling landscape of the Mungo National Park. Here you’ll meet the Mungo Man and Mungo Woman, the world’s oldest cremations that show evidence of a ritualistic burial.



flights:
  title: Experience the best of Australia, <br />before you even arrive
  description: >
    <p class="text--lg text--bold">Qantas is the best choice for touching down in Sydney and exploring this vibrant state.</p>
    <p>Start your holiday from the moment you step on-board with a pick of acclaimed Aussie films and celebrated Australian wines, a menu designed by esteemed chef Neil Perry, and the warm Aussie welcome from the on-board team, Qantas treats you to the best of Australia.</p>
  features:

    - title: Daily flights
      id: daily-flights
      link: https://www.qantas.com/travel/airlines/a380/global/en
      content: >
        Take off with daily A380 flights from London Heathrow to Sydney via Dubai, or from 25 March 2018, via Singapore. Choose from Economy, Premium Economy, Business or First, and enjoy unrivalled Australian hospitality in all four cabins.

    - title: Qantas Explorer
      id: qantas-explorer
      link: https://www.qantas.com/gb/en/book-a-trip/flights/qantas-explorer.html
      content: >
        If you're flying Down Under, you'll want to make the most of your time there. Qantas Explorer fares can take you further and give you the chance to see more of Australia for less.

    - title: London Lounge
      id: london-lounge
      link: http://travelinsider.qantas.com.au/europe/united-kingdom/london/the-new-qantas-london-lounge-at-heathrow-airport
      content: >
        Those flying in Business or First can relax in the new Qantas London Lounge.


  prices-title: Flight Options
  prices:
    - title: Economy return from
      price: "722"
    - title: Premium Economy return from
      price: "2,161"
    - title: Business return from
      price: "3,867"



---



<div class="intro{% if page.sections %} has-nav{% endif %}">
  <div class="wp" id="section-intro"></div>

  <div class="intro__content section row row--padding text--center">
    {{page.intro}}
  </div>

  {% if page.sections %}
  <div class="intro__nav">
    {% include nav/page-nav.html %}
  </div>
  {% endif %}

</div>



{% assign sections = page.sections %}
{% for section in sections %}
<div class="section vpad--xxxl bg--fixed" style="background-image: url('{{site.baseurl}}/img/content/{{section.id}}/bg.jpg');">
  <div class="wp" id="section-{{section.id}}"></div>

  <div class="row row--padding row--valign">

    <div class="topic__text">
      <div class="line-length--lg">
        <h2 class="title title--display title--xxl title--bolder">{{section.title}}</h2>
        <hr class="hr--left">
        {{section.description}}
      </div>
    </div>

    <div class="topic__image hide--xl">
      <div class="bg-img bg-img--3-2" style="background-image: url('{{site.baseurl}}/img/content/{{section.id}}/01.jpg');"></div>
      <div class="row row--6-6">
        <div class="col bg-img bg-img--16-9" style="background-image: url('{{site.baseurl}}/img/content/{{section.id}}/02.jpg');"></div>
        <div class="col bg-img bg-img--16-9" style="background-image: url('{{site.baseurl}}/img/content/{{section.id}}/03.jpg');"></div>
      </div>
    </div>

  </div>

  <!-- POIS -->
  <div class="row vpad-top--md row--padding text--center">

    <h4 class="title title--md title--lined">{{section.pois-title}}</h4>

    <div class="vpad-top--md pois">
      {% for poi in section.pois %}
        {% include components/poi.html %}
      {% endfor %}
    </div>

  </div>

  <!-- FLIGHTS CTA -->
  <div class="row row--padding vpad--xs text--center">
    <a href="https://www.qantas.com/gb/en/promotions/experience-the-best-of-australia.html?alt_cam=gb:re:omd:dis:pomd:DNSWAUSTRALIADAY:n:n:n:n" id="tracking-button-{{section.id}}" target="_blank" class="btn btn--lg btn--solid">Book your flights at qantas.com</a>
  </div>

</div>
{% endfor %}




{% assign flights = page.flights %}
<div class="section vpad--xxl bg--theme-primary text--white">
  <div class="wp" id="section-flights"></div>


  <div class="row row--padding text--center">
    <h2 class="title title--display title--xl title--bolder">{{flights.title}}</h2>

    <hr class="hr--center">
    <div class="line-length--lg">
      {{flights.description}}
    </div>
  </div>

  <div class="row row--xl row--padding">
    {% for feature in flights.features %}
    <div class="bob">
      <a href="{{feature.link}}" id="tracking-image-{{feature.title|slugify}}" target="_blank" class="bob__image bg-img bg-img--3-2 bg-img--rounded" style="background-image: url({{site.baseurl}}/img/content/flights/{{feature.id}}.jpg);"></a>
      <div class="bob__text">
        <h4 class="title title--sm title--bold">{{feature.title}}</h4>
        <p>{{feature.content}}</p>
        <a href="{{feature.link}}" id="tracking-button-{{feature.title|slugify}}" target="_blank" class="btn btn--white btn--sm">Find out more</a>
      </div>
    </div>
    {% endfor %}
  </div>




  <div class="row row--padding text--center vpad-top--md">
    <h3 class="title title--md title--lined">{{flights.prices-title}}</h3>
  </div>

  <!-- FLIGHTS CLASSES -->
  <div class="row row--xxl row--padding row--4-4-4-gutters text--center">

    {% for price in flights.prices %}
    <div class="col">
      <div class="bg--black-20 bg--rounded row--padding vpad--md">
        <p class="text--bold">{{price.title}}</p>
        <span class="title title--bold">£<span class="title--xs">{{price.price}}*</span></span>
      </div>
    </div>
    {% endfor %}

  </div>

  <!-- FLIGHTS CTA -->
  <div class="row row--padding text--center">
    <a href="https://www.qantas.com/gb/en/promotions/experience-the-best-of-australia.html?alt_cam=gb:re:omd:dis:pomd:DNSWAUSTRALIADAY:n:n:n:n" id="tracking-button-flights-section" target="_blank" class="btn btn--lg btn--white">Book your flights at qantas.com</a>
  </div>


</div>

