
<div class="poi bg-img bg-img--4-3 bg-img--shadow bg-img--rounded bg-img--hover bg--grey-darkest">

  <a href="javascript:void(0);" data-modal-id="modal-pois" data-modal-item-id="{{poi.title|slugify}}" class="bg-img__link js-open-modal"></a>

  <div class="bg-img__content">
    <span class="title title--xxs title--display title--upper title--kerning">{{poi.title}}</span>
  </div>

  <div class="bg-img__bg" style="background-image: url('{{site.baseurl}}/img/content/{{section.id}}/pois/{{poi.id}}.jpg');"></div>

</div>