---
layout: default
---


<!-- PAGE INTRO -->
<div class="bg--white page-intro">
  <div class="container container--xxl text--center">
    {{page.intro}}
  </div>
  <div class="page-intro__nav">
    {% include nav/page-nav.html %}
  </div>
</div>



<!-- PAGE SECTIONS -->
<div class="bg--grey-lightest">
  {% for section in page.sections %}
    <div class="wp" id="section-{{section.id}}"></div>

    <div class="page-section" style="background-image: url('{{site.img}}/content/{{section.id}}/bg.jpg');">

      <div class="container">

        <!-- TITLE -->
        <div class="width width--xxxl text--center">
          <h2 class="title title--display title--xxl text--bold">{{section.title}}</h2>
        </div>
        <div class="space--xxl"></div>

        <!-- FEATURE -->
        <div class="row row--valign-center row--no-gutters feature">
          <div class="col col--7">
            <div class="boxpad--xxl">
              <h4 class="title title--sm text--bold">{{section.feature.title}}</h4>
              {{section.feature.description}}
            </div>
          </div>
          <div class="col col--5">
            <div class="bg-img bg-img--16-9" style="background-image: url({{site.img}}/content/{{section.id}}/feature-1.jpg);"></div>
            <div class="row row--6-6 row--no-gutters">
              <div class="col">
                <div class="bg-img bg-img--4-3" style="background-image: url({{site.img}}/content/{{section.id}}/feature-2.jpg);"></div>
              </div>
              <div class="col">
                <div class="bg-img bg-img--4-3" style="background-image: url({{site.img}}/content/{{section.id}}/feature-3.jpg);"></div>
              </div>
            </div>
          </div>
        </div>


        <!-- HIGHLIGHTS -->
        <div class="space--lg"></div>
        {% assign highlights = site.data.highlights %}

        <div class="row highlights row--valign-center">

          <!-- HIGHLIGHTS -->
          {% for pageHighlight in section.highlights %}
            {% assign highlightData = highlights | where: 'id', pageHighlight.id %}
            {% for item in highlightData %}

              <div class="col col--12 col--lg-4">
                {% include page/highlight.html %}
              </div>

            {% endfor %}
          {% endfor %}
        </div> <!-- END .row.highlights -->

      </div>
    </div>
  {% endfor %}
</div>



{% include qantas-section.html %}
